.sqr {
    background-color: green;
    height: 15rem;
    width: 22rem;
}

.circle {
    height: 5rem;
    width: 5rem;
    background-color: red;
}

div.middle {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

