* {
    background-color: green;
}

#sqr {
    height: 50px;
    width: 50px;
    background-color: #000;
}

.sqr {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.sqr1 {
    height: 50px;
    width: 50px;
    background-color: blue;
}

.sqr2 {
    height: 50px;
    width: 50px;
    background-color: rebeccapurple;
}
