div {
    background-color: purple;
}

.one {
    width: 25%;
    position: absolute;
}

.two {
    left: 27%;
    width: 25%;
    position: absolute;
}

.three {
    position: absolute;
    left: 53%;
    width: 40%;
}